################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.json
*.dll
*.exe
*.pdb
*.suo
/.vs/
/Debug/
/Release/
/x64/
/softbody/Debug/
/softbody/Release/
/softbody/x64/